:root{
    --primary-color: #027A48;
    --primary-color-light: #F6FEF9;
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* CSS goes here. */

*{
    font-family: 'Syne', sans-serif !important;
}


.bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-theme {
    color: var(--primary-color) !important;
}



.bg-theme-light {
    background-color: var(--primary-color-light) !important;
}
.bg-theme {
    background-color: var(--primary-color) !important;
}

.font-20 {
    font-size: 20px !important;
}
.font-30 {
    font-size: 30px !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.rounded {
    border-radius: 9px !important;
}
.rounded-full {
    border-radius: 100px;
}